@media (max-width: 575px)
  .intro
    &__title
      font-size: 3.3rem
      line-height: 3.3rem
    &__subtitle
      font-size: 1.8rem
      line-height: 1.8rem

  .about
    padding: 4rem 0
    &__info
      margin-bottom: 3rem
    &__suptitle
      font-size: 1.8rem
      line-height: 1.8rem
    &__title
      margin-bottom: 3rem
      font-size: 3.3rem
      line-height: 3.3rem
    &__text
      font-size: 1.6rem
      line-height: 2rem
    .swiper
      &-wrapper
        height: 28.8rem
      &-pagination
        bottom: 2.5rem
        width: 100%
        &-bullet
          width: 1.2rem
          height: 1.2rem
      &-container-horizontal
        & > .swiper-pagination-bullets
          .swiper-pagination-bullet
            margin: 0 1.5rem
    &__image
      width: 100%
    &__button
      display: none

  .features
    &-wrapper
      padding: 4rem 0
    &__suptitle
      font-size: 1.8rem
      line-height: 1.8rem
    &__title
      margin-bottom: 1rem
      font-size: 3.3rem
      line-height: 3.3rem

    .accordion
      &__tab
        font: normal 700 2.4rem/2.4rem 'BebasNeue'
        .accordion
          &__icon
            margin-bottom: 1rem
            margin-right: 1.4rem
      &__content
        padding-left: 3rem
        font: normal 400 1.6rem/1.8rem 'OpenSans'
      &.active
        height: 18rem

  .system
    &-wrapper
      padding: 4rem 0
    &__suptitle
      font-size: 1.8rem
      line-height: 1.8rem
    &__title
      margin-bottom: 1rem
      font-size: 3.3rem
      line-height: 3.3rem

  .quotes
    &-wrapper
      padding: 4rem 0
    &__content
      margin-bottom: 3rem
    &__suptitle
      font-size: 1.8rem
      line-height: 1.8rem
    &__title
      margin-bottom: 1rem
      font-size: 3.3rem
      line-height: 3.3rem
    &__text
      margin-bottom: 2rem
      font-size: 1.6rem
      line-height: 2rem
    .reviews
      &__author
        margin-bottom: 1.5rem
      &__avatar
        width: 4.8rem
        height: 4.8rem
        &::before
          width: 4.8rem
          height: 4.8rem
          right: -0.6rem  
          top: 0.3rem
      &__text
        font-size: 1.6rem
        line-height: 2rem
