@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .header
    padding: 1rem 0
    .logo
      width: 3.3rem
      height: 3.3rem

  .intro
    &__title
      font-size: 4.8rem
      line-height: 4.8rem
    &__subtitle
      font-size: 2rem
      line-height: 2rem
    .btn
      padding: 1.4rem
      line-height: 1.8rem
    
  .about
    padding: 4rem 0
    &__info
      margin-bottom: 3rem
    &__suptitle
      font-size: 2rem
      line-height: 2rem
    &__title
      margin-bottom: 4rem
      font-size: 4.8rem
      line-height: 4.8rem
    .swiper
      &-wrapper
        height: 32rem

  .features
    &-wrapper
      padding: 8rem 0
    &__suptitle
      font-size: 2rem
      line-height: 2rem
    &__title
      margin-bottom: 4rem
      font-size: 4.8rem
      line-height: 4.8rem
    .accordion
      &__tab
        font: normal 700 3rem/3rem 'BebasNeue'


  .system
    &-wrapper
      padding: 8rem 0
    &__suptitle
      font-size: 2rem
      line-height: 2rem
    &__title
      margin-bottom: 4rem
      font-size: 4.8rem
      line-height: 4.8rem
    .requirements
      grid-template-columns: repeat(1, 1fr)
      &__item
        padding: 1.5rem 
        border-top: 1px solid #979797
        border-left: 1px solid #979797
        border-right: 1px solid #979797
        &:last-child
          grid-column: 1 / 2
          border-bottom: 1px solid #979797
